<header>
    <p>©MTech</p>
  
    <div class="menus">
        <a href="#servicos">Serviços</a>
        <a href="#sociais">Redes sociais</a>
    </div>
    
    <button>Login</button>
</header>

<section id="sessao-um">
    <div class="left">
        <h1>A gestão das suas <br> vendas nas palmas <br> da sua mão</h1>
        <h2>Gerencie suas vendas com segurança,<br> modernidade e agilidade</h2>
        <button>Saiba mais</button>
    </div>

    <div class="rigth">
        <div class="fade">
            <div class="imagem">

            </div>
        </div>
    </div>
</section>

<section id="sessao-dois">
    <div class="fade">
        <div class="imagem">
            
        </div>
    </div>
</section>

<section id="sessao-tres">
    <div id="servicos" class="linha">
        <p>Gestão de Vendas, <br>dashboards, agenda <br>personalizada e muito mais</p>
        <div class="quebra-linha">
            <div id="icone1">
            </div>
            <div id="icone2">
            </div>
        </div>
    </div>

    <div class="linha">
        <div id="imagem1"></div>
        <div id="imagem2"></div>
    </div>
</section>

<section id="sessao-quatro">
    <div class="container">
        <div class="ico ico1">

        </div>

        <div class="text1">
            <p>Gerencie seu dinheiro</p>
        </div>

        <div class="text2">
            <p>Tenha  um melhor entendimento sobre entradas e saídas de dinheiro do seu negócio</p>
        </div>
    </div>

    <div class="container">
        <div class="ico ico2">

        </div>

        <div class="text1">
            <p>Gerencie seu clientes</p>
        </div>

        <div class="text2">
            <p>Gerencie, cadastre e realize ações nos seus clientes</p>
        </div>
    </div>

    <div class="container">
        <div class="ico ico3">

        </div>

        <div class="text1">
            <p>Gere comprovantes</p>
        </div>

        <div class="text2">
            <p>Gere comprovantes para todas as vendas que realizar no sistema</p>
        </div>
    </div>
</section>

<section id="sociais" class="section-four">
    <p>Entre em contato e realize um teste gratuíto</p>
    <div class="contact-icons">
        <div class="ico ico1">

        </div>

        <div class="ico ico2">

        </div>

        <div class="ico ico3">

        </div>
    </div>
    <p>ou deixe seu e-mail que entraremos em contato</p>
    <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
    <button id="sendEmail">Enviar</button>
</section>