section {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3d3d3d;
    color: white;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    margin: 20px 0px 20px 0px;  
}

.ico {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.ico:hover {
    transform: scale(1.09);
}

.ico1 {
    background-image: url('../../../../public/img/whatsapp.svg');
}

.ico2 {
    background-image: url('../../../../public/img/insta.svg');
}

.ico3 {
    background-image: url('../../../../public/img/email.svg');
}

#email{
    width: 310px;
    margin: 20px 0px 20px 0px;  
    padding: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    width: 100px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #3d3d3d;
    border: 1px solid #bfaff2;
    color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}