body {
    background-color: #52809b;
}

/* Cor de fundo da barra de rolagem inteira */
::-webkit-scrollbar {
    width: 5px;
}

/* Cor do fundo do "track" da barra de rolagem */
::-webkit-scrollbar-track {
    background: #4b7790;
}

/* Cor do "thumb" da barra de rolagem (a parte que se move) */
::-webkit-scrollbar-thumb {
    background: #264658;
    border-radius: 8px;
}

/* Cor do "thumb" ao passar o mouse por cima */
::-webkit-scrollbar-thumb:hover {
    background: #264658;
}